@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;

}
h1,h2,h3{  font-family: 'Subscribe Regular';}


@font-face {
  font-family: 'Subscribe Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Subscribe Regular'), url('/assets/fonts/Subscribe.woff') format('woff');
}

/* Italic */
@font-face {
  font-family: 'Subscribe Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Subscribe Italic'), url('/assets/fonts/Subscribe-Italic.woff') format('woff');
}

/* Shadow Regular */
@font-face {
  font-family: 'Subscribe Shadow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Subscribe Shadow Regular'), url('/assets/fonts/SubscribeShadow.woff') format('woff');
}

/* Shadow Italic */
@font-face {
  font-family: 'Subscribe Shadow Italic';
  font-style: italic;
  font-weight: normal;
  src: local('Subscribe Shadow Italic'), url('/assets/fonts/SubscribeShadow-Italic.woff') format('woff');
}




@keyframes tpupdown {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
